
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

:root{
    --primary: #8105d8;
}


body{
    /* max-width: 600px; */
    font-family: 'Sansita Swashed', cursive;
    font-size: large;
    margin: auto;
    text-align: center;
    color:#8105d8;
}


.header-style{
    background-color: whitesmoke;
    border-style: inset;
    text-align: center;
    border-bottom-right-radius: 2rem;
}
.header-style h1{
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    font-weight: bolder;
    font-size: 40px;
    
}

.main-style{
    display: block;
    width: 80%;
    max-width: 900px;
    height: auto; 
    margin: auto;
    background-image: url("laugh.png");
    background-size: 130px;
    background-position: center;
}

.main-style h2,h3, h4{
    margin-left: auto;
    margin-right: auto;    
    background-color: white;
    max-width: max-content;
    min-height: max-content;
}


textarea {
    max-width: 200px;
    max-height: 3vh;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    border: 1px solid black;
    font-size: large;

}

#joke-btn {
    
    background-color: var(--primary);
    display: block;
    margin: auto;
    color: white;
    font-weight: bold;
    text-align: center;
    border: var(--primary);
    font-size: medium;
    border-radius: 0.5rem;
    padding: 0.5rem;

}

#joke-text{
    widows: 50%;
    max-width: 300px;
    margin: auto;
    min-height: max-content;
    height: auto;
    padding: 1rem 1rem;
    border-radius: 0.8rem;
    border: 1px solid black;
    text-align: left;
    font-size: larger;
    background-color: white;
}


#output-text{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    max-width: max-content;
    height: 4vh;
    background-color: white;
}

#output-text h3{
    text-align: center;
    font-size: larger;
}



.footer-style{
    max-width: none;
    background-color: whitesmoke;
    border-style: outset;
    text-align: center;
    border-top-left-radius: 2rem;
    margin-top: 2rem;

}

.footer-style a{
    text-decoration: none;
    color: red;
}
